@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

/* Custom CSS to fix footer at the bottom */
body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*--------------{ carousel }---------------*/
.custom-carousel-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-caption h2 {
    font-size: 24px;
}

.carousel-caption p {
    font-size: 18px;
}

/*--------------{ carousel }---------------*/


/* CSS to apply line-clamp to description */
.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    /* Number of lines to display */
    max-height: 3 * 1.2em;
    /* Number of lines * line height (adjust as needed) */
}

/* CSS to apply line-clamp to title for 2 lines */
.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Number of lines to display */
    max-height: 2 * 1.2em;
    /* Number of lines * line height (adjust as needed) */
    font-weight: bolder;
    font-size: 20px;
}

/* CSS to apply line-clamp to author for 1 lines */
.line-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /* Number of lines to display */
    max-height: 2 * 1.2em;
    /* Number of lines * line height (adjust as needed) */
}


/* Custom CSS to apply rounded borders to news cards */
.custom-rounded-card {
    border-radius: 10px;
    /* Adjust the value to control the rounding level */
}

/* Custom CSS for news card images */
.custom-news-image {
    border: 5px solid #1083ff;
    ;
    /* Border style and color */
    border-radius: 10px;
    /* Rounded corners */
    background-color: #1083ff;
}


/*------------- footer --------------------*/
footer {
    width: 100%;
    background-color: #1e272e;
    margin-top: auto;
}

footer p {
    margin: 0px;
    text-align: center;
    color: #fff;
    line-height: 3.4rem;
    font-size: 1.2rem;
}

/*------------- footer --------------------*/