@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

/* Custom CSS to fix footer at the bottom */
body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*--------------{ carousel }---------------*/
.custom-carousel-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-caption h2 {
    font-size: 24px;
}

.carousel-caption p {
    font-size: 18px;
}

.topic-item {
    cursor: pointer;
}

/*--------------{ carousel }---------------*/


/* CSS to apply line-clamp to description */
.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    /* Number of lines to display */
    max-height: 3 * 1.2em;
    /* Number of lines * line height (adjust as needed) */
}

/* CSS to apply line-clamp to title for 2 lines */
.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Number of lines to display */
    max-height: 2 * 1.2em;
    /* Number of lines * line height (adjust as needed) */
    font-weight: bolder;
    font-size: 20px;
}

/* CSS to apply line-clamp to author for 1 lines */
.line-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /* Number of lines to display */
    max-height: 2 * 1.2em;
    /* Number of lines * line height (adjust as needed) */
}


/* Custom CSS to apply rounded borders to news cards */
.custom-rounded-card {
    border-radius: 10px;
    /* Adjust the value to control the rounding level */
}

/* Custom CSS for news card images */
.custom-news-image {
    border: 5px solid #1083ff;
    /* Border style and color */
    border-radius: 10px;
    /* Rounded corners */
    background-color: #1083ff;
}


/*------------- footer --------------------*/
footer {
    width: 100%;
    background-color: #1e272e;
    margin-top: auto;
}

footer p {
    margin: 0px;
    text-align: center;
    color: #fff;
    line-height: 3.4rem;
    font-size: 1.2rem;
}

/*------------- footer --------------------*/




/*-------------------- About us --------------------*/
/* Custom CSS for about card images */
.custom-about-image {
    border: 5px solid #1083ff;
    border-radius: 25px;
    background-color: #1083ff;
}

/*-------------------- About us --------------------*/





/*-------------------- Lazy loader --------------------*/
/* Placeholder Styles  1*/
.placeholder {
    margin: 15px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.placeholder div {
    background: #E8E8E8;
}

.placeholder .square {
    float: left;
    width: 40%;
    height: 22vh;
    margin: 0 0 10px;
    border-radius: 10px;
}

.placeholder .line {
    height: 12px;
    margin: 0 0 10px 230px;
}

.placeholder .line:nth-child(2) {
    width: 120px;
}

.placeholder .line:nth-child(3) {
    width: 170px;
}

.placeholder .line:nth-child(4) {
    width: 150px;
}

.placeholder .circle {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 15px 10px 0;
    border-radius: 15px;
} 



.placeholder.wave div {
    animation: wave 1s infinite linear forwards;
    -webkit-animation: wave 1s infinite linear forwards;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
}

@keyframes wave {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

@-webkit-keyframes wave {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}




/* Placeholder Styles  2*/
/* .placeholder {
    margin: 15px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.placeholder .square {
    width: 40%;
    height: 28vh;
    margin-left: auto; 
    border-radius: 10px;
}

.placeholder .line {
    height: 12px;
    margin: 0 0 10px; 
    width: 40%; 
}

.placeholder .circle {
    width: 15px;
    height: 15px;
    margin: 0 15px 10px 0;
    border-radius: 15px;
}

.placeholder.wave div {
    animation: wave 1s infinite linear forwards;
    -webkit-animation: wave 1s infinite linear forwards;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
}

@keyframes wave {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@-webkit-keyframes wave {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
} */


/*-------------------- Lazy loader --------------------*/











